.text-header-wrapper_markets {
  margin-top: rem(121px);
}
.decor-header_markets {
  height: rem(113px);
}
.text-header-wrapper_markets-forex {
  margin-top: rem(99px);
}
.decor-header_markets-items {
  height: rem(144px);
}
.text-header-wrapper_markets-metals {
  margin-top: rem(139px);
}
.text-header-wrapper_markets-stocks {
  margin-top: rem(140px);
}
.text-header-wrapper_markets-commodities {
  margin-top: rem(140px);
}
.text-header-wrapper_markets-indices {
  margin-top: rem(139px);
}
.text-header-wrapper_markets-crypto {
  margin-top: rem(123px);
}
.decor-header_markets-items-metals {
  height: rem(88px);
}
.decor-header_markets-items-stocks {
  height: rem(167px);
}
.decor-header_markets-items-commodities {
  height: rem(56px);
}
.decor-header_markets-items-indices {
  height: rem(93px);
}
.decor-header_markets-items-crypto {
  height: rem(97px);
}

// ADAPTIVE
@media screen and (max-width: 1160px) {
}
