.form-nav
	include ../nav.pug
header.page-header.page-header_404.page-header_other-page
	.wrapper.wrapper-header.wrapper-header_other-page.wrapper-header_404
		.text-header-wrapper.text-header-wrapper_404
			h1.h2-title.h1-title_404.center 404
			p.page-header__text.page-header__text-404.center !{headerText404.text[lang]}
			.form-links.form-links_404
				a(href="index.html").form-links_item.btn-start-trade_404.h3-title_blue.big-text !{headerText404.textMainPage[lang]}
				a(href="contacts.html").btn-show-more.form-links_item.h3-title_blue.big-text !{headerText404.textSupport[lang]}
