.main-footer {
  padding-top: rem(39px);
  padding-bottom: rem(24px);
  margin-top: auto;
  position: relative;
  z-index: 101;
  background: $color-title;
}
.footer-logo {
  margin-right: rem(144px);
}
.footer-row__item-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(36px);
  align-items: center;
}
.footer-menu-href {
  color: $color-white;
  &:hover {
    text-decoration: underline;
  }
}
.footer-contacts__item {
  text-align: right;
  font-size: rem(18px);
  line-height: rem(28px);
  font-weight: 700;
  color: $color-title;
  margin-bottom: rem(6px);
  &:last-child {
    margin-bottom: 0;
  }
}
.footer-p {
  user-select: none;
  color: $color-white;
  margin-bottom: rem(32px);
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.footer-p_adress {
  font-size: rem(16px);
  line-height: rem(24px);
  span {
    width: 100%;
    display: block;
    font-size: rem(14px);
    line-height: rem(20px);
    margin-bottom: rem(12px);
  }
}
.footer-col_3 {
  width: 100%;
  margin-top: rem(32px);
}
.wrapper_footer {
  position: relative;
}
.footer-wrapper {
  position: relative;
  z-index: 2;
}
.footer-p_copy {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}



@media (max-width: 1160px) {
  .footer-row__item-1 {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: rem(32px);
    margin-right: 0;
  }
  .footer-menu {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: rem(16px);
  }
  .footer-href-wrapper,
  .footer-menu-href,
  .footer-contacts__item {
    text-align: center;
  }
  .footer-p {
    text-align: center;
  }
}
