mixin marketGraph(attr)
    section.section.section-graph
        .wrapper.wrapper-graph
            h2.section-graph__title.h2-title.left !{commonMarketsText.title_graph[lang]}
            .graph-wrapper
                .graph#tradeview(data-item=attr height="650")
