.wrapper-slider {
  .slick-list {
    overflow: initial;
  }
}
.main-slider__item {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  max-width: rem(456px);
  margin-top: rem(214px);
}
.btn-main-slider {
  margin-top: auto;
}
.main-background-slider-list__item {
  height: 100%;
  position: relative;
}
.img-slider {
  transition: .3s ease-out;
  opacity: 0;
  transform-origin: center center;
  transform: scale(0.8);
}
.main-slider__title, .main-slider__text {
  opacity: 0;
  transform: translateX(rem(-50px));
  transition: opacity .5s ease, transform .5s ease;
  user-select: none;
}
.main-slider__text {
  transition-delay: .3s;
}
.main-slider-text .slick-active {
  .main-slider__title,
  .main-slider__text {
    opacity: 1;
    transform: translateX(0);
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-slider-text {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  .slick-slide > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .slick-track {
    flex-grow: 1;
  }
  .slick-list {
    flex-grow: 1;
    overflow: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
.main-slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: rem(576px);
}
.main-arrows-wrapper {
  max-width: rem(1488px);
  bottom: rem(63px);
}
.dots-and-arrows {
  display: flex;
  .slick-dots {
    position: static;
    display: flex;
    width: auto;
    li {
      margin-right: rem(8px);
      display: flex;
      &:last-child {
        margin-right: 0;
      }
      &.slick-active {
        button {
        }
      }
    }
    button {
      width: rem(8px);
      height: rem(8px);
      border-radius: 50%;
      background: transparent;
      transition: .3s ease-out;
      position: relative;
      pointer-events: auto;
      font-size: 0;
      &:hover {
      }
    }
  }
}
.main-background-slider-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }
  .slick-current {
    .img-slider {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.pagination-wrapper_main {
  justify-content: flex-end;
}
.main-background-slider_wrapper {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.img-main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0;
}
.decor-header-main-1 {
  height: rem(118px);
}
.decor-header-main-2 {
  height: rem(133px);
}
.decor-header-main-3 {
  height: rem(144px);
}
.decor-header-main-4 {
  height: rem(164px);
}
.img-slider_main-1 {
  margin-top: rem(180px);
  margin-right: rem(95px);
  max-width: rem(479px);
}
.img-slider_main-2 {
  margin-top: rem(150px);
  margin-right: rem(95px);
  max-width: rem(456px);
}
.img-slider_main-3 {
  margin-top: rem(136px);
  margin-right: rem(94px);
  max-width: rem(480px);
}
.img-slider_main-4 {
  margin-top: rem(137px);
  margin-right: rem(90px);
  max-width: rem(484px);
}
.main-slider__item1 {
  margin-top: rem(194px);
}
.dots-main-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
  .slick-dots {
    flex-direction: column;
    display: inline-flex;
    width: auto;
    pointer-events: initial;
    margin-top: rem(74px);
    li {
      margin-right: 0;
      margin-bottom: rem(60px);
      &::before {
        height: rem(68px);
        width: rem(2px);
        top: auto;
        right: auto;
        left: 50%;
        bottom: rem(4px);
        transform: translate(-50%, 100%);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.wrapper_arrows-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.arrow-main-wrapper {
  position: absolute;
  bottom: rem(94px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: flex-start;
}
.slick-main-slider {
  width: auto;
  height: auto;
  position: relative;
  &.slick-prev {
    margin-right: rem(4px);
  }
  &.slick-next {
    margin-left: rem(4px);
  }
  path {
    transition: 0.3s ease-in;
  }
  &:hover, &:active {
    path {
      fill: $color-button;
    }
  }
}



@media (max-width: 1160px) {
  .main-slider__item {
    margin-top: rem(120px);
    margin-bottom: rem(40px);
    max-width: rem(600px);
  }
  .main-img-slider {
    max-width: rem(350px);
    margin-right: 0;
  }
  .arrow-main-wrapper {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: rem(64px);
  }
  .img-slider {
    margin-top: 0;
    margin-right: rem(50px);
    max-width: rem(350px);
  }
  .main-background-slider-list {
    .slick-list,
    .slick-track,
    .slick-slide > div {
      height: 100%;
    }
  }
  .dots-main-wrapper {
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    .slick-dots {
      margin-top: 0;
      flex-direction: row;
      li {
        margin-bottom: 0;
        margin-right: rem(48px);
        &:last-child {
          margin-right: 0;
        }
        &::before {
          width: rem(54px);
          height: rem(2px);
          top: 50%;
          transform: translate(100%, -50%);
          right: rem(4px);
          left: auto;
        }
      }
    }
  }
  .main-background-slider_wrapper {
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .main-img-slider {
    display: none;
  }
  .main-slider__item {
    max-width: none;
  }
  .main-background-slider-list {
    display: none;
  }
}
