section.section.section-news
	.wrapper.wrapper-news
		.news-header-wrapper
			h2.h2-title.h2-title_news.left !{indexNewsText.h2[lang]}
			.news-arrow
		.news-slider-wrapper(data-aos="fade-up")
			.news-slider(class= "news-slider_" + lang)
				.news-slider__items.data--js-news(class="news-slider__items-" + lang)
		.dots-news-wrapper.dots-news-slider-js.dots-wrapper
