// FONTS
$font-ubuntu: 'Ubuntu', sans-serif;
$root-font-size: 16px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-green: #00CB3A;
$color-red: #f12c2c;
$color-button: linear-gradient(64.44deg, #309CFF 7.52%, #007BEB 80.31%);
$color-button_hover-shadow: 0px rem(20px) rem(20px) rem(-10px) rgba(0, 123, 235, 0.3);
$color-button_active-shadow: 0px rem(20px) rem(20px) rem(-10px) rgba(0, 123, 235, 0.3);
$color-title: #0F2852;
$color-text: #8e9bb1;
$color-text-gradient: linear-gradient(to right, #309CFF, #007BEB);
$color-text-gradient-dark: linear-gradient(to top, #0F2852, #ffffff);
$color-main-blue: #309CFF;
$color-main-blue-2: #007BEB;
